<!-- <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        
                
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-5">
    <div class="container-fluid">
        <a routerLink="extrato" class="navbar-brand m-3 fs-3">Bytebank</a>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="nova-transferencia">Nova Transferência</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>