<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{base :: head}">
</head>

<body>

    <div th:replace="~{base :: logo}"></div>

    <div class="container">

        <div th:replace="~{base :: titulo('Novo Pedido')}"></div>

        <div class="card mt-3">
            <div class="card-body">
                <form th:object="${requisicaoNovoPedidoDto}" class="card-body" action="/pedido/novo" method="POST">
                    <div class="form-group">
                        <label for="nomeProduto">Produto</label>
                        <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do Produto">
                        <small>Informe qual o nome do produto.</small>
                        <div class="invalid-feedback" th:errors="*{nomeProduto}">
                            Erros do nome do produto
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="urlProduto">URL</label>
                        <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="URL do Produto">
                        <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
                        <div class="invalid-feedback" th:errors="*{urlProduto}">
                            Erros da url do produto
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="urlImagem">Imagem</label>
                        <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="URL da imagem">
                        <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar os compradores.</small>
                        <div class="invalid-feedback" th:errors="*{urlImagem}">
                            Erros da url da imagem
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descricao</label>
                        <textarea th:field="*{descricao}" class="form-control mb-3" rows="3" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>